.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Cal Sans", sans-serif;
  background-color: #e5e5e5;
  color: #14213d;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

h1 {
  color: #14213d;
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  margin: 10px 0;
}

button {
  background-color: #14213d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

button:hover {
  background-color: #14213d;
}

input {
  padding: 10px;
  font-size: 1rem;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

div {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1rem;
  margin-bottom: 10px;
}

.logged-in {
  color: #28a745;
  font-weight: bold;
}

.logged-out {
  color: #dc3545;
}
